
.imagen-logo{
    width: 5%;
    max-width: 50px;
    padding-top: 10px;
    margin-left: 10px;
}

/* *{  El selector "*" es un selector universal en CSS que se utiliza para seleccionar todos los elementos de un documento HTML. Básicamente, se aplica a todos los elementos dentro de un contexto determinado. */
/*     background-color: transparent;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #cfd449;
} */

h1{
    display: flex;
    background-color: transparent;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    justify-content: center;
    color: #cfd449;

}

h2{
    display: flex;
    background-color: transparent;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    font-style: italic;
    line-height: 150%;
    justify-content: center;
    color: #cfd449;
    
}

h6{
    display: flex;
    background-color: transparent;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    font-style: italic;
    line-height: 150%;
    justify-content: center;
    color: #cfd449;
}

html, body{
    background: url(imagenes/space-911785_1280.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 85%;
    margin: 0;
    padding: 0;
}

.botones{
    justify-content: space-around;
    margin-top: 18px;

}

.boton-encriptar{
    background-color: rgba(49, 71, 172, 0.476);
    width: 40%;
    border: 1px solid #1546a190 ;
    border-radius: 15px;
    color: #cfd449;
    height: 68PX;
    font-size: 20px;
}

.boton-desencriptar{
    background-color: #6b923568;
    width: 40%;
    border: 1px solid #91a11557 ;
    border-radius: 15px;
    color: #cfd449;
    height: 68PX;
    font-size: 20px;
}

.copiar{
    margin-top: 35px;
    background-color: #356b9268;
    width: 40%;
    border: 1px solid #1564a157 ;
    border-radius: 15px;
    color: #cfd449;
    height: 68PX;
    font-size: 20px;
}

button:hover{
    width: 42%;
    height: 70PX;
}

main{
    display: flex;
    min-height: 100%;
    margin-top: 50px;
    margin-left: 80px;
    justify-content: space-around;
}

textarea{
    display: flex;
    border-color: rgba(140, 152, 156, 0.52);
    /* text-transform: lowercase; Es para transformar solamente segun mi experiencia solo lo transforma visualmente por que en codigo maquina siguen siendo mayusculas*/
    background: transparent;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    color: #cfd449;
    justify-content: center;
    align-items: center;
}

::placeholder{
    text-align: center;
    color: #cfd449;
}

.text-area:focus{/* Quita el tamaño del contenedor del textarea cuando hacemos click dentro de ella */
    outline: none;
}

.mensaje:focus{
    outline: none;
}

.mensaje{
    background-color: transparent;
   /*  background-image: url(); con esto se puede poner una imagende background desde el css */
    /* background-repeat: no-repeat; */
}

.botones{
    display: flex;
}

/* :placeholder-shown{
    text-align: center;
} tambien aqui funciona para el place holder pero no se si sea correcto u_u*/

#footer-datos{
    text-align: center;
    background-color: black;
    width: 100%;
    padding: 25px;
}

footer{
    position: relative;
    clear: both;
    padding: 0px;
    margin: 0px;
}